@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply bg-white text-slate-900;
  }

  html.dark {
    @apply bg-slate-950 text-slate-100;
  }

  body {
    @apply min-h-screen font-sans antialiased;
  }
}
